<h1>YEP THESE ARE THE LIST DETAILS ALRIGHT</h1>
<h3><%= @list.name %></h3>
<h4>Would you look at that, there's even an image now</h4>
<% if @list.photo.attached? %>
  <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<p>Kinda crzay if you think about it</p>
<p>cray cray even</p>
<ul>
<% @list.bookmarks.each do |bookmark| %>
  <li><%= bookmark.movie.title %></li>
  <li><%= bookmark.comment %></li>
  <%= form_with(model: bookmark, url: bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" }) do %>
    <%= submit_tag 'Delete movie from list' %>
  <% end %>
<% end %>
</ul>
<%= link_to "Add movies to the list", new_list_bookmark_path(@list) %>
<%= link_to "Back", lists_path %>
